header 
    width: 100%
    height: 700px
    position: relative
    .modal //in order to place it correctly, I checked my property- values with the inspector//
        .modal-dialog
            height: 100% 
            .modal-content
                position: absolute //absolute to the header section//
                margin: 0
                top: 50%
                left: 50%
                transform: translate(-50%,-50%) //position the modal in the centre of the screen independent from the other elements//
                width: auto
                .modal-body
                    padding:0
                    margin: 0
                    width: 900px //to define width of video-content//
                    video
                        width: 100%
                        height: 100%
                        border-radius: 8px
                        display: block
                        margin: auto
    .upper-header
        width: 100%
        height: 10%
        #my-navbar
            background: rgba(14,16,15,0.5)
            .container-fluid
                .my-name
                    font-size: 25px
                    margin: 0
                    padding-left: 10px
                
                #navbarSupportedContent
                    ul
                        display: flex
                        gap: 15px
                        .nav-item
                            a
                                font-size: 15px
                                color: white
                            a:hover //hover change colors//
                                color: $ColorGolden
                
                button
                    .my-btn-p
                        color: white
                        font-size: 13px


  
    .bottom-header
        width: 100%
        height: 90%

        display: flex
        align-items: center
        .my-banner-text-container
            width: 50%

            display: flex
            justify-content: center
            h1
                color: white
                font-family: RobotoBold
                font-size: 55px
            h4 
                color: white
                font-family: RobotoSerif-Regular
                font-size: 20px
            .my-buttons
                margin-top: 20px

                display: flex
                gap: 20px
                .btn
                    padding-left: 18px
                    padding-right: 18px

                    .my-btn-p
                    font-size: 13px

        .my-modal //section for the button of my modal//
            width: 50%
            height: 100%

            display: flex
            justify-content: center
            align-items: center
            .my-play-button //create my button//
                width: 80px
                height: 80px
                background-color: #cca35e
                border-radius: 100%
                box-shadow: 0px 0px 0px 15px rgba(101,76,45,0.3) //makes border transparent//
                position: absolute
                display: flex
                justify-content: center
                align-items: center
                img
                    width: 30px
                    height: 30px  
            .my-play-button::after //add a ring to my button that will pulse later on//
                position: absolute
                content: ""
                top: 0
                left: 0
                right: 0
                bottom: 0
                border: 4px solid $ColorGolden
                border-radius: 50%
                animation: pulse 2s infinite linear //call the animation//
            @keyframes pulse //animation//
                0%
                    opacity: 0
                    transform: scale (0.95)
                10% 
                    opacity: 1
                80%, 100%
                    opacity: 0
                    transform: scale(1.3)
                

header::before //apply filter-property to my background-image only, not to the text-items//
    background-image: url("./../../public/assets/img/hero-bg.jpg")
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    content: ""
    z-index: -1 //damit lege ich den Filter HINTER den Text//
    width: 100%
    height: 100%
    filter: brightness(40%) contrast(110%)
    background-attachment: fixed //damit bleibt bild beim scrollen//
