/*Laptop*/
@media (min-width: 768px) and (max-width: 1024px) 

    .sectionFour
        width: 100%
        height: 600px

        display: flex
        justify-content: center
        align-items: center
        .container-sectionFour
            width: 90%
            height: 65%
            h5
                color: white
                font-family: RobotoRegular
                font-size: 15px
            h3
                color: $ColorGolden
                font-family: RobotoSerif-Medium
                font-size: 23px
                margin-bottom: 20px

            #carouselExampleIndicators
                width: 100%
                height: 100%
                .carousel-inner
                    .carousel-item
                        .row
                            .col
                                h5
                                    font-family: RobotoSerif-Medium
                                    font-size: 19px
                                h4
                                    font-family: RobotoMedium
                                    font-size: 19px
                                .my-oblique-p
                                    font-family: RobotoRegular
                                    color: white
                                    font-style: oblique
                                    font-size: 14px
                                .my-three-p-carousel
                                    font-family: RobotoRegular
                                    color: white
                                    margin-bottom: 20px
                                    font-size: 14px
                                p
                                    font-family: RobotoRegular
                                    color: white
                                    font-size: 14px

/*Tablet*/
@media (min-width: 425px) and (max-width: 768px)

    .sectionFour
        width: 100%
        height: 850px
        position: relative

        display: flex
        justify-content: center
        align-items: center
        .container-sectionFour
            width: 90%
            height: 90%
            h5
                color: white
                font-family: RobotoRegular
                font-size: 15px
            h3
                color: $ColorGolden
                font-family: RobotoSerif-Medium
                font-size: 23px
                margin-bottom: 20px

            #carouselExampleIndicators
                width: 80%
                height: 95%
                .carousel-inner
                    .carousel-item
                        .row
                            display: flex
                            flex-direction: column
                            gap: 20px
                            .col
                                h5
                                    font-family: RobotoSerif-Medium
                                    font-size: 19px
                                h4
                                    font-family: RobotoMedium
                                    font-size: 19px
                                .my-oblique-p
                                    font-family: RobotoRegular
                                    color: white
                                    font-style: oblique
                                    font-size: 14px
                                .my-three-p-carousel
                                    font-family: RobotoRegular
                                    color: white
                                    margin-bottom: 20px
                                    font-size: 14px
                                p
                                    font-family: RobotoRegular
                                    color: white
                                    font-size: 14px

/*Mobile M&L*/
@media (min-width: 321px) and (max-width: 425px) 

    .sectionFour
        width: 100%
        height: 850px
        position: relative

        display: flex
        justify-content: center
        align-items: center
        .container-sectionFour
            width: 90%
            height: 90%
            h5
                color: white
                font-family: RobotoRegular
                font-size: 15px
            h3
                color: $ColorGolden
                font-family: RobotoSerif-Medium
                font-size: 23px
                margin-bottom: 20px

            #carouselExampleIndicators
                width: 80%
                height: 90%
                .carousel-inner
                    .carousel-item
                        .row
                            display: flex
                            flex-direction: column
                            gap: 20px
                            .col
                                h5
                                    font-family: RobotoSerif-Medium
                                    font-size: 19px
                                h4
                                    font-family: RobotoMedium
                                    font-size: 19px
                                .my-oblique-p
                                    font-family: RobotoRegular
                                    color: white
                                    font-style: oblique
                                    font-size: 14px
                                .my-three-p-carousel
                                    font-family: RobotoRegular
                                    color: white
                                    margin-bottom: 20px
                                    font-size: 14px
                                p
                                    font-family: RobotoRegular
                                    color: white
                                    font-size: 14px