.sectionEightPartThree
    width: 100%
    height: 500px
    background-color: #0b0b09

    display: flex
    justify-content: center
    align-items: center
    .my-container-sectionEightPartThree
        width: 90%

        display: flex
        justify-content: center
        align-items: center
        .my-social-media
            width: 50%
            height: 100%

            display: flex
            flex-direction: column
            justify-content: center
            gap: 20px
            .my-social-media-items
                display: flex
                align-items: center
                gap: 10px
                .my-icon-social-media
                    color: white
                    font-size: 20px
            .my-text-social-media
                h4
                    color: white
                    font-famiy: RobotoMedium
                    font-size: 18px
                    padding:0
                    margin: 0
                p
                    color: white
                    font-famiy: RobotoRegular
                    opacity: 40%
                    font-size: 13px
                    padding:0
                    margin: 0


        .my-form-sectionEight
            width: 50%

            display: flex
            flex-direction: column
            justify-content: center





