.sectionThree
    width: 100%
    height: 750px
    background-color: #1a1814

    display: flex
    justify-content: center
    align-items: flex-start
    .my-container-sectionThree
        width: 90%
        margin-top: 30px
        .my-small-header-sectionThree
            display: flex
            align-items: center
            gap: 8px
            h5
                color: white
                font-family: RobotoRegular
                font-size: 18px
                padding: 0
                margin: 0
            hr
                width: 150px
                border-top: 2px solid white
        h3
            color: $ColorGolden
            font-family: RobotoSerif-Medium
            font-size: 35px
            margin-bottom: 20px
        .my-container-menu
            width: 100%

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 20px
            position: relative
            .my-buttons-sectionThree //all the buttons that are clicked to show the menus//
                width: 100%
                height: 100%

                display: flex
                gap: 25px
                align-items: center
                justify-content: center
                button
                    background-color: #1a1814
                    border: none
                    p
                        font-family: RobotoSerif-Regular
                        color: white
                button p:hover //on hover text turns golden//
                    color: $ColorGolden
            .my-dishes
                width: 100%

                display: flex
                flex-wrap: wrap //plates automtically switch into next line if not enough space, see space defined below//
                gap: 20px
                .my-dish
                    width: 48% //each of the plates gets around half of the width so I can place two next to each other//

                    display: flex
                    align-items: center
                    .my-image-menu
                        width: 16%
                        img
                            width: 80px
                            height: 80px
                            border-radius: 50%
                            border: 5px solid #484642
                    .my-dish-description
                        width: 84%
                        .description-upper-part
                            color: white
                            display: flex
                            align-items: center
                            position: relative
                            h3
                                color: white
                                font-family: RobotoMedium
                                font-size: 16px
                                padding: 0
                                margin: 0
                            hr
                                width: 380px
                                border-top: dashed 1px white
                            p
                                margin: 0
                                padding: 0
                                position: absolute //position my price on the right end of my div//
                                right: 0
                                color: $ColorGolden
                        .description-bottom-part
                            color: white
                            font-family: RobotoRegular
                            font-style: oblique
                            opacity: 60%
            
.disappear //for my javascript event: by "add" the property "display: none" is applied, with "remove" I cancel it and my elements are shown on the site//
    display: none !important
               



