.sectionThree
    width: 100%
    height: 700px
    background-color: #1a1814

    display: flex
    justify-content: center
    align-items: center
    .my-container-sectionThree
        width: 80%
        h5
            color: white
            font-family: RobotoRegular
            font-size: 18px
        h3
            color: $ColorGolden
            font-family: RobotoSerif-Medium
            font-size: 35px
            margin-bottom: 20px
        .my-container-menu
            width: 100%

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 20px
            .my-links-sectionThree
                display: flex
                gap: 20px
                a
                    text-decoration: none
                    color: white
                .my-all-link:hover
                    color: $ColorGolden
                .my-starters-link:hover
                    color: $ColorGolden
                .my-salads-link:hover
                    color: $ColorGolden
                .my-specialty-link:hover
                    color: $ColorGolden

            .part-all
                width: 100px
                height: 100px
                background-color: red
            .part-starters
                width: 100px
                height: 100px
                background-color: red
            .part-salads
                width: 100px
                height: 100px
                background-color: red
            .part-specialty
                width: 100px
                height: 100px
                background-color: red
            
            
               



